<link rel="stylesheet" type="text/css" href="css/taskDetail.css">
		<div style="background-color:rgba(0,0,0,0.3);border-bottom:none;" class="navbar navbar-default default-menu menu" role="navigation">
			<div class="container nav_container">
				<div class="row">
					<div class=" col-sm-2 ">
						<a class="navbar-brand default-logo" href="#/boss"></a>
					</div>
					<div class=" col-sm-8 col-sm-offset-2">
						<div class="collapse navbar-collapse  navbar-right" id="menu">
								<ul class="nav navbar-nav" id="logged">
									<li><a class="scroll" href="#/boss">首页</a></li>
									<li><a class="scroll" href="#/boss#event">查看活动</a>
									</li>
									<li><a class="scroll" href="#/boss/myTask">我的任务</a>
									</li>
									</li>
									<li><a class="dropdown-toggle btn-xs" data-toggle="dropdown">
											<span class="glyphicon glyphicon-user">{{user.userName}}<span>
										</a>
										<ul class="dropdown-menu" role="menu">
											<li>
												<a href="#/boss/bpersonalInfo">个人中心</a>
											</li>
											<li><a class="scroll" ng-click="reLogin()">
												<span class="glyphicon glyphicon-log-out">退出</span></a>
											</li>
										</ul> 
									</li>
								</ul>
							</div>
					</div>
				</div>
			</div>
		</div><!-- end导航-->
<section class="content" id="event" ng-controller="bTaskCtrl">
		<div class="container">
			<div class="row">
				<ul class="myTab nav nav-tabs">
					<li class="active" name="new"><a ng-click="chooseTask('new')" data-toggle="tab">新任务</a></li>
					<li name="over"><a ng-click="chooseTask('over')" data-toggle="tab">已结束任务</a></li>
				</ul>
				<div ng-repeat="task in myTask">
					<div style="color:#121212;" class="col-sm-8 col-sm-offset-2 eventlist">
						<h2>任务标题： {{task.tasTitle}}<span class="badge new" ng-show="task.tasStatus==0">未执行</span><span class="badge going" ng-show="task.tasStatus==1">正在执行</span><span class="badge finish" ng-show="task.tasStatus==2">已完成</span><span class="badge " ng-show="task.tasStatus==3">已超时</span></h2>
						<div class="time">
							<span>开始时间:{{task.tasCreDate}}</span>&nbsp;&nbsp;
							<span>截止时间:{{task.tasDueDate}}</span>&nbsp;&nbsp;
						</div>
						<div>
							<span>执行人：</span>
							<span ng-repeat="p in task.tasDue">{{p.name}} </span>
						</div>
						<div >
							<span>任务内容：</span> <br />
							&nbsp;&nbsp;
							<p style="font-size:17px;"><em>{{task.tasDesc}}</em></p>
						</div><br />
						<div>
							<span>相关文件：{{task.tasDoc1Name}}</span>
						</div>
						<a class="btn btn-danger" href="#/boss/altTask/{{task.tasId}}">修改</a>
						<button class="btn btn-danger" ng-click="delTask(task.tasId, task.tasStatus)">删除</button>
					</div>
				</div>
			</div>
			<tm-pagination conf="bTaskPage"></tm-pagination>
		</div>
		
	</section>
